h1.large {
    font-size: 1.4em;
    margin-top: 20px;
}

h1.small {
    font-size: 1.2em;
    margin-top: 20px;
}
 
 .header {
     border: 0;
     width: 60px;
     margin-top: 10px;
     border-bottom: 2px solid #d6ab29;
 }
 