<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <app-logo></app-logo>
    <app-side-menu></app-side-menu>

    <div class="moralefloors_product_area section-padding-50">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <app-header title="About Us"></app-header>

                    <p>Morale Floors is the leading name throughout Southern Africa for construction flooring supplies and materials. 
                        Since 2018, our Flooring Stores has been providing developers, builders, contractors, repairmen, and private homeowners with quality products and expert services. 
                        Our team of experienced home improvement and décor specialist professionals offer sound advice, recommendations, and creative ideas to our customers.
                        Hands-on assistance with projects is also available upon request.
                    </p>
                     <p>At Morale Floors, we’re committed to helping our customers, and even those dealing with minor repairs. 
                         No matter the size of the project, we’re at your service. Our brand names Tiles, Laminates, and Vinyls are available at affordable prices. 
                         We look forward to helping you complete your project. Contact us to let us know how.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>