<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix section-padding-100">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="morale-floors-navbar-brand">
            <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="morale-floors-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <app-side-menu></app-side-menu>

    <div class="moralefloors_product_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                   <h2>About us</h2>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempora alias animi totam harum numquam magni, esse, deserunt eligendi necessitatibus sequi non beatae soluta sint. Laboriosam beatae non dolore, provident molestiae reprehenderit, architecto cumque ut voluptate ipsam autem eos ipsum laudantium reiciendis tenetur. Ipsum deserunt, soluta, suscipit numquam dolorem provident esse tempora ipsam officia odio animi iste dolores voluptas dicta aliquid excepturi pariatur, consequatur commodi! Iure fugit cum officiis, dolorum molestias, molestiae sapiente maiores adipisci pariatur soluta minus vero nobis, architecto distinctio. Autem modi iste sunt quibusdam ad quod. Atque explicabo ratione distinctio omnis blanditiis voluptatum autem sint id vero.</p>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempora alias animi totam harum numquam magni, esse, deserunt eligendi necessitatibus sequi non beatae soluta sint. Laboriosam beatae non dolore, provident molestiae reprehenderit, architecto cumque ut voluptate ipsam autem eos ipsum laudantium reiciendis tenetur. Ipsum deserunt, soluta, suscipit numquam dolorem provident esse tempora ipsam officia odio animi iste dolores voluptas dicta aliquid excepturi pariatur, consequatur commodi! Iure fugit cum officiis, dolorum molestias, molestiae sapiente maiores adipisci pariatur soluta minus vero nobis, architecto distinctio. Autem modi iste sunt quibusdam ad quod. Atque explicabo ratione distinctio omnis blanditiis voluptatum autem sint id vero.</p>
                </div>
            </div>
        </div>
    </div>
</div>