<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="morale-floors-navbar-brand">
            <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="morale-floors-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <app-side-menu></app-side-menu>


    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">
        <app-header title="Contact us"></app-header>

        <div class="morale-floors-pro-catagory clearfix section-padding-50">
            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <div class="address">
                    <app-header class="small" title="Address"></app-header>
                    <p>  435 Dunns Corner, Northriding
                        <br> Randburg, 2162
                        <br> Gauteng, South Africa
                    </p>
                </div>  
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <div class="cell">
                    <app-header class="small" title="Address"></app-header>
                    <p> 
                        <b>Tel: </b> 010 634 0434 <br>
                        <b>Cell: </b> 082 687 2677 <br>
                        <b>Email: </b> sales@moralefloors.co.za <br> elias@moralefloors.co.za<br>
                    </p> 
                </div>   
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <div class="social">
                    <app-header class="small" title="Address"></app-header>
                    <p> 
                        <i class="fa fa-facebook-square" aria-hidden="true"></i> Morale Floors <br>
                        <i class="fa fa-instagram" aria-hidden="true"></i> @moralefloors <br>
                        <i class="fa fa-twitter-square" aria-hidden="true"></i> @Morale Floors ZA <br>
                    </p> 
                </div>    
            </div>
        </div>


        <hr>

        <app-header title="Clients"></app-header>

        <div class="morale-floors-pro-catagory ">
            <div class="single-products-catagory clearfix">
                <img src="assets/img/clients/client1.jpg" alt="">
            </div>
            <div class="single-products-catagory clearfix">
                <img src="assets/img/clients/client2.jpg" alt="">
            </div>
            <div class="single-products-catagory clearfix">
                <img src="assets/img/clients/client3.jpg" alt="">
            </div>
            <div class="single-products-catagory clearfix">
                <img src="assets/img/clients/client4.jpg" alt="">
            </div>
            <div class="single-products-catagory clearfix">
                <img src="assets/img/clients/client5.jpg" alt="">
            </div>
            <div class="single-products-catagory clearfix">
                <img src="assets/img/clients/client6.jpg" alt="">
            </div>
        </div> 
    </div>
 
</div>

<app-footer></app-footer>