<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="morale-floors-navbar-brand">
            <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="morale-floors-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <app-side-menu></app-side-menu>

    <div class="shop_sidebar_area">

        <!-- ##### Single Widget ##### -->
        <div class="widget catagory mb-50">
            <!-- Widget Title -->
            <h6 class="widget-title mb-30">Catagories</h6>

            <!--  Catagories  -->
            <div class="catagories-menu">
                <ul>
                    <li [ngClass]="{'active': isActive('adhesive')}" (click)="activateProduct('adhesive')"><a>Adhesive & Grounds</a></li>
                    <li [ngClass]="{'active': isActive('laminates')}" (click)="activateProduct('laminates')"><a>Laminates</a></li>
                    <li [ngClass]="{'active': isActive('mosaic')}" (click)="activateProduct('mosaic')"><a>Mosaics</a></li>
                    <li [ngClass]="{'active': isActive('accessories')}" (click)="activateProduct('accessories')"><a>Tile Accessories</a></li>
                    <li [ngClass]="{'active': isActive('tiles')}" (click)="activateProduct('tiles')"><a>Tiles</a></li>
                    <li [ngClass]="{'active': isActive('vynil')}" (click)="activateProduct('vynil')"><a>Vynil</a></li>
                </ul>
            </div>
        </div> 
    </div>

    <div class="moralefloors_product_area">
        <div class="container-fluid" >
            <app-header title="{{activeCategory.name}}"></app-header>
            <app-product [products]="products" [category]="activeCategory"></app-product>
            
<!-- 
            <div class="row">
                <div class="col-12">
                    <nav aria-label="navigation">
                        <ul class="pagination justify-content-end mt-50">
                            <li class="page-item active"><a class="page-link" href="#">01.</a></li>
                            <li class="page-item"><a class="page-link" href="#">02.</a></li>
                            <li class="page-item"><a class="page-link" href="#">03.</a></li>
                            <li class="page-item"><a class="page-link" href="#">04.</a></li>
                        </ul>
                    </nav>
                </div>
            </div> -->
        </div>
    </div>
</div>

<app-footer></app-footer>