p.description {
    font-size: 12px;
    color: #646464;
    line-height: 1.2;
    margin-top: 4px;
}

.name {
    font-size: 17px;
}

.product-img img {
    padding: 20px;
}

.product-img:hover  {
    border: 2px solid #e0c063;
}