<div class="row">
    <div class="col-12 col-sm-4 col-md-6 col-xl-4"  *ngFor="let p of products">
        <div class="single-product-wrapper">
            <div class="product-img">
                <img src="assets/img/products/{{p.category}}/{{p.img}}.jpg" alt="">
            </div>

            <div class="product-description d-flex align-items-center justify-content-between">
                <div class="product-meta-data">
                    <div class="line"></div>
                    <p class="product-price" *ngIf="p.size">{{p.size}}</p>
                    <p class="product-price" *ngIf="p.price">{{p.price}}</p>
                    <a href="product-details.html">
                        <h6 class="name">{{p.name}}</h6>
                    </a>
                    <p class="description">{{p.description}}</p>
                </div>
                
            </div>
        </div>
    </div>
</div>