<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">
    <app-logo></app-logo>
    <app-side-menu></app-side-menu>
    <!-- Product Catagories Area Start -->
    <div class="products-catagories-area clearfix">
        <div class="morale-floors-pro-catagory clearfix">

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a [routerLink]="'/products'" >
                    <img src="assets/img/bg-img/1.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <h4>Adhesive & Grounds</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a [routerLink]="'/products'" >
                    <img src="assets/img/bg-img/2.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <!-- <p>From $180</p> -->
                        <h4>Laminates</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a [routerLink]="'/products'" >
                    <img src="assets/img/bg-img/3.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <!-- <p>From $180</p> -->
                        <h4>Mosaics</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a [routerLink]="'/products'" >
                    <img src="assets/img/bg-img/4.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <!-- <p>From $180</p> -->
                        <h4>Tile Accessories</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a [routerLink]="'/products'" >
                    <img src="assets/img/bg-img/5.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <!-- <p>From $18</p> -->
                        <h4>Tiles</h4>
                    </div>
                </a>
            </div>

            <!-- Single Catagory -->
            <div class="single-products-catagory clearfix">
                <a [routerLink]="'/products'" >
                    <img src="assets/img/bg-img/6.jpg" alt="">
                    <!-- Hover Content -->
                    <div class="hover-content">
                        <div class="line"></div>
                        <!-- <p>From $320</p> -->
                        <h4>Vynils</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- Product Catagories Area End -->
</div>
<!-- ##### Main Content Wrapper End ##### -->

<app-footer></app-footer>