<header class="header-area clearfix" [ngClass]="{'bp-xs-on': dataService.statusSubject.value}">
    <div class="nav-close" (click)="closeMenu()">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>

    <div class="logo">
        <a [routerLink]="'/home'"><img src="assets/img/core-img/logo.png" alt=""></a>
    </div>
    

    <nav class="morale-floors-nav">
        <ul>
            <li [ngClass]="{'active': isRouteActive('/home') }"><a [routerLink]="'/home'" >Home</a></li>
            <li [ngClass]="{'active': isRouteActive('/products') }"><a [routerLink]="'/products'">Products</a></li>
            <li [ngClass]="{'active': isRouteActive('/about') }"><a [routerLink]="'/about'">About</a></li>
            <li [ngClass]="{'active': isRouteActive('/contacts') }"><a [routerLink]="'/contacts'">Contact us</a></li>
        </ul>
    </nav>
    
    <!-- <div class="cart-fav-search mb-100">
        <a href="cart.html" class="cart-nav"><img src="assets/img/core-img/cart.png" alt=""> Cart <span>(0)</span></a>
        <a href="#" class="fav-nav"><img src="assets/img/core-img/favorites.png" alt=""> Favourite</a>
        <a href="#" class="search-nav"><img src="assets/img/core-img/search.png" alt=""> Search</a>
    </div> -->

    <div class="social-info d-flex justify-content-between section-padding-100">
        <a href="https://www.facebook.com/moralefloors/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://www.picuki.com/profile/moralefloors" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    </div>
</header>

